.score {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.hits {
  background: lightgreen;
}

.fails {
  background: lightpink;
}

.scoreBoard {
  margin-top: 10px;
  text-align: center;
  width: 500px;
}
